/* DEFAULT STARTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--clr-white);
  color: var(--clr-black-shade);
  font-size: 24px;
  line-height: 1.5;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

.container {
  padding: 0 12px;
  width: 100%;
  margin: auto;
  max-width: var(--container-size);
}

/* TEXT COLORS START */
.text-white {
  color: var(--clr-white);
}

.text-black {
  color: var(--clr-black);
}

.text-black-shade {
  color: var(--clr-black-shade);
}
.text-dull-lavender {
  color: var(--clr-dull-lavender);
}

.text-light-purple {
  color: var(--clr-light-purple);
}

.text-primary-gradient {
  background-image: linear-gradient(
    180deg,
    var(--clr-lavender-indigo) 13%,
    var(--clr-dull-lavender) 89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-white-50 {
  color: rgba(var(--clr-rgb-white), 50%);
}

.text-black-shade-50 {
  color: rgba(var(--clr--rgb-black-shade), 50%);
}

.text-black-shade-70 {
  color: rgba(var(--clr--rgb-black-shade), 70%);
}

.text-dull-lavender {
  color: var(--clr-dull-lavender);
}

/* TEXT COLORS END */

.text-justify {
  text-align: justify;
}

/* BACKGROUND COLORS START */
.bg-white {
  background-color: var(--clr-white);
}

.bg-black {
  background-color: var(--clr-black);
}

.bg-primary-gradient {
  background: var(--clr-primary-gradient);
}
.text-white-70 {
  color: rgba(var(--clr-rgb-white), 0.7);
}
.bg-black-shade {
  background-color: var(--clr-black-shade);
}

.bg-color-titan-white {
  background-color: var(--clr-titan-white);
}

/* RADIUS */
.radius-xl {
  border-radius: var(--radius-xl);
}

.radius-lg {
  border-radius: var(--radius-lg);
}

.radius-md {
  border-radius: var(--radius-md);
}

.radius-sm {
  border-radius: var(--radius-sm);
}

.radius-xs {
  border-radius: var(--radius-xs);
}

.radius-inherit {
  border-radius: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* FONT FAMILY */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

/* FONT SIZE */
.h1,
h1 {
  font-size: 6rem;
}

h2.big,
.h2.big {
  font-size: 5rem;
}

.h2,
h2 {
  font-size: 3rem;
}

.h3,
h3 {
  font-size: 22px;
}

.h4,
h4 {
  font-size: 20px;
}

.h5,
h5 {
  font-size: 18px;
}

.h6,
h6 {
  font-size: 16px;
}

p.big,
.p.big {
  font-size: 18px;
}

p,
.p {
  font-size: 16px;
}

p.sm,
.p.sm {
  font-size: 14px;
}

p.xs,
.p.xs {
  font-size: 12px;
}

.font-bordered {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--clr-light-purple);
}

/* SIZE */
.w-max-content {
  width: max-content;
}

.h-max-content {
  height: max-content;
}

.max-w-max-content {
  max-width: max-content;
}

.min-w-auto {
  min-width: auto !important;
}

.min-h-auto {
  min-height: auto;
}

.min-h-inherit {
  min-height: inherit;
}

.w-inherit {
  width: inherit;
}

.h-inherit {
  height: inherit;
}

/* COMMON CSS */
.line-height-0 {
  line-height: 0;
}

.lh-16 {
  line-height: 1.6;
}

.lh-22 {
  line-height: 1.22;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-0-auto {
  flex: 0 0 auto;
}

.bg-size-cover {
  background-size: cover;
}

.object-position-top {
  object-position: top;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXT CLAMP */
.text-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  -webkit-line-clamp: 5;
}

.line-clamp-6 {
  -webkit-line-clamp: 6;
}

/* LINK CSS */
a {
  color: var(--clr-white);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition-smooth);
}

/* a:focus, */
.outline-focus:focus {
  outline: 1px solid;
}

.svg-hover,
.hover-text,
.hover-text:hover svg {
  transition: var(--transition-smooth);
}

a:hover,
.svg-hover:hover {
  color: var(--shrimp-cocktail);
}

.hover-text:hover,
.hover-text:hover svg {
  color: var(--shrimp-cocktail);
}

/* IMAGES RATIO */
.image-hover-scale {
  overflow: hidden;
  transition: var(--transition-smooth);
}

.image-hover-scale img {
  transition: var(--transition-smooth);
}

.image-hover-scale:hover img {
  transform: scale(1.03);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* SECTION SPACING */
/* SECTION XL */
.section-xl-py {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.section-xl-px {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.section-xl-pt {
  padding-top: var(--space-xl);
}

.section-xl-pb {
  padding-bottom: var(--space-xl);
}

.section-xl-my {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.section-xl-mt {
  margin-top: var(--space-xl);
}

.section-xl-mb {
  margin-bottom: var(--space-xl);
}

/* SECTION LG */
.section-lg-py {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.section-lg-px {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.section-lg-pt {
  padding-top: var(--space-lg);
}

.section-lg-pb {
  padding-bottom: var(--space-lg);
}

.section-lg-my {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.section-lg-mt {
  margin-top: var(--space-lg);
}

.section-lg-mb {
  margin-bottom: var(--space-lg);
}

/* SECTION MD */
.section-md-py {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}
.section-md-px {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.section-md-pt {
  padding-top: var(--space-md);
}

.section-md-pb {
  padding-bottom: var(--space-md);
}

.section-md-my {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.section-md-mt {
  margin-top: var(--space-md);
}

.section-md-mb {
  margin-bottom: var(--space-md);
}

/* SECTION SM */
.section-sm-py {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}
.section-sm-px {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

.section-sm-pt {
  padding-top: var(--space-sm);
}

.section-sm-pb {
  padding-bottom: var(--space-sm);
}

.section-sm-my {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.section-sm-mt {
  margin-top: var(--space-sm);
}

.section-sm-mb {
  margin-bottom: var(--space-sm);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* SECTION TITLE */
.primary-title {
  font-family: var(--font-primary);
  font-size: 5rem;
  font-weight: 700;
  line-height: 115%;
}

.secondary-title {
  font-family: var(--font-primary);
  color: var(--clr-white);
  font-size: 5rem;
  font-weight: 700;
  line-height: 115%;
}

.paragraph-sm-text {
  font-family: var(--font-primary);
  color: var(--clr-black-shade);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.white-gradient-card {
  background-color: rgba(var(--clr-rgb-white), 6%);
  backdrop-filter: blur(40px);
  box-shadow: -2px -2px 8px 0px rgba(var(--clr-rgb-white), 33%) inset;
}
.title-sub-text {
  color: var(--clr-mirage);
}

.logo-wrap {
  max-width: 100px;
}

/* INPUT CSS  */
.input {
  height: var(--input-height);
  border-radius: 10px;
  font-size: 20px;
  padding: 0 20px;
  outline: 0;
  color: var(--clr-white);
}

.light-input {
  padding: 0 20px;
  background-color: #1a1a1a0f;
  border: 2px solid transparent;
  transition: var(--transition-smooth);
}
.dark-input {
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-smooth);
}
.transparent-input {
  box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(40px);
  transition: var(--transition-smooth);
}
.transparent-input input::placeholder,
.dark-input .input::placeholder,
.light-input .input::placeholder {
  color: #ffffff80;
}

.transparent-input input,
.light-input input,
.dark-input input {
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}
.transparent-input input,
.dark-input input {
  color: var(--clr-white);
}
.light-input:focus-within,
.light-input:focus-visible,
.light-input:hover,
.light-input:focus {
  border-color: #b3a0e9;
}
.dark-input:hover,
.dark-input:focus-within {
  background-color: #ffffff3d;
}
.transparent-input:hover,
.transparent-input:focus-within {
  box-shadow: 0px 0px 50px 40px rgba(255, 255, 255, 0.1) inset;
}
textarea.textarea {
  padding: 20px;
  outline: 0;
  border-radius: 20px;
  font-size: 20px;
  resize: none;
}
.temp {
  padding: 50px;
  background: #8459ef;
}
.demo {
  padding: 50px;
  background: black;
}
/* BUTTON STYLE START */
.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  font-size: 16px;
  border: 1px solid transparent;
  outline: none;
  color: var(--clr-white);
  min-width: 120px;
  min-height: 50px;
  transition: var(--transition-smooth);
  border-radius: var(--radius-sm);
}
.white-gradient-btn {
  box-shadow: 4px 4px 16px 0px rgba(var(--clr-rgb-white), 40%) inset,
    -2px -2px 8px 0px rgba(var(--clr-rgb-white), 25%) inset;
  backdrop-filter: blur(40px);
  background-color: transparent;
}
.white-gradient-btn:hover {
  box-shadow: 9px 1px 28px -4px rgba(var(--clr-rgb-white), 40%) inset,
    2px 2px 18px 23px rgba(var(--clr-rgb-white), 25%) inset;
}
.purple-gradient-btn {
  background-image: linear-gradient(106.4deg, #8459ef, #ad90f3, #8459ef);
  background-size: 200%;
}
.purple-gradient-btn:hover {
  background-position: 100% 0;
}
.dark-btn {
  background-color: var(--clr-black-shade); 
}
.dark-btn:hover {
  background-color: rgba(var(--clr-rgb-black-shade), 0.8);
}
.custom-btn:focus {
  border-color: var(--clr-black-shade);
}
/*BUTTON STYLE END */

/* CARD STYLING START */
.inner-shadow-card {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2) inset;
  backdrop-filter: blur(40px);
}
/* CARD STYLING END */

.section-top-spacing{
  padding-top: calc(var(--header-height) + 6.4rem);
}

/* HEADER SECTION START */
.header-section {
  min-height: var(--header-height);
  background-color: transparent;
  z-index: 10;
  transition: var(--transition-smooth);
}

.header-section.header-scroll {
  background-color: var(--clr-lavender-indigo);
  box-shadow: 0 4px 12px 0 rgba(var(--clr-rgb-black), 0.2);
}

.header-bg{
  background-color: var(--clr-lavender-indigo);
}

.header-nav-list {
  gap: 48px;
}

.header-link {
  color: rgba(var(--clr-rgb-white), 0.8);
  line-height: 1.33;
  position: relative;
  padding-bottom: 8px;
}

.header-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--clr-white);
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-smooth);
}

.header-link.active::after,
.header-link:hover::after {
  width: 80px;
  opacity: 1;
  visibility: visible;
}

.header-link:hover,
.header-link.active {
  color: var(--clr-white);
}
.header-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.678);
  backdrop-filter: blur(5px);
  overflow: hidden;
  display: none;
}
.header-overlay.overlayShow {
  display: block;
}

.hamburger .hamburger-line {
  margin-bottom: 5px;
  border-radius: 1px;
  height: 2px;
  width: 26px;
  background-color: var(--clr-white);
  transform-origin: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.active .hamburger-line:nth-child(1) {
  transform: rotate(40deg) translateY(9px);
}

.hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
  transform: rotate(-40deg) translateY(-9px);
}
/* HERO SECTION START */

.hero-section {
  min-height: calc(100vh - var(--header-height) - var(--space-sm));
  background-position: left center;
  padding-top: calc(var(--header-height) + var(--space-sm));
  z-index: 2;
}

.hero-section::after,
.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 160px;
  bottom: 0;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-section::after {
  background-image: url("../images/covers/wave-1.png");
}

.hero-section::before {
  background-image: url("../images/covers/wave-2.png");
  bottom: -25px;
  z-index: 1;
}

.hero-content-wrap {
  max-width: 700px;
  padding-bottom: var(--space-sm);
}

.hero-content-wrap p {
  color: rgba(var(--clr-rgb-white), 0.7);
}

.hero-apple-store-btn {
  margin-top: 8rem;
}

.hero-apple-store-btn:hover {
  opacity: 0.85;
}

.hero-img-wrap {
  max-width: 800px;
  z-index: 3;
}

.hero-img-wrap::after,
.hero-img-wrap::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img-wrap::after {
  background-color: var(--clr-lighter-purple);
  border-radius: 50%;
  filter: blur(100px);
  width: 80%;
  height: 100%;
  z-index: 1;
}

.hero-img-wrap::before {
  background-image: url("../images/covers/stars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 80%;
  z-index: 2;
}

/* HOW IT WORKS START */
.how-it-work-img-wrap {
  padding: 4rem 4rem 0;
  border-radius: var(--space-xl);
  background-color: var(--clr-titan-white);
  overflow: hidden;
  z-index: 1;
}

.how-it-work-img-wrap::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 450px;
  background-color: var(--clr-lighter-purple);
  border-radius: 50%;
  filter: blur(80px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.how-it-work-img {
  max-width: 43rem;
  margin: auto;
}

.how-it-work-content-card {
  padding: 0 0 0 var(--space-xl);
}

.how-it-work-content-card h3 {
  font-size: 3.6rem;
}

.how-it-work-content-card.card-reverse {
  padding: 0 var(--space-xl) 0 0;
}

/* DOWNLOAD-APP SECTION START */
.download-app-inner {
  gap: 8rem;
}
.download-app-content {
  width: 50%;
  padding: 4.5rem;
}
.download-app-subTitle {
  color: rgba(var(--clr-rgb-white), 0.5);
}
.download-app-imageWrapper {
  max-width: 50%;
}

.download-app-imageWrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 120px;
  background: var(--clr-lighter-purple);
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  bottom: 0;
}
/* DOWNLOAD-APP SECTION END */

/* WHY CHOOSE US STARTS */
.why-choose-us-card-grid-wrapper{
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
}
.why-choose-us-detail-card{
  background-color: var(--clr-titan-white);
  padding: var(--space-md);
}
/* WHY CHOOSE US ENDS */
/* FEEDBACK STARTS */
.feedback-card{
  padding: 4.5rem;
  box-shadow: 0px 4px 16px 0px rgba(var(--clr-rgb-black),4%);
}

.feddback-img{
  width: 8rem;
  min-width: 50px;
}

.star-icon{
  width: 28px;
}

.quote-icon svg{
  --icon-sizing:22px;
  width: var(--icon-sizing);
  height: var(--icon-sizing);
}
.swiper-nav-button{
  --circle-sizing:6rem;
  width: var(--circle-sizing);
  height: var(--circle-sizing);
  border: solid 1px var(--clr-white);
  background-color: transparent;
  color: var(--clr-white);
  transition: var(--transition-smooth);
  outline: none;
  min-width: 30px;
  min-height: 30px;
}

.swiper-nav-button.swiper-button-disabled,.swiper-nav-button.swiper-button-disabled:hover{
  background-color: rgba(var(--clr-rgb-white),40%);
  cursor: not-allowed;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

.swiper-nav-button:hover,.swiper-nav-button:focus,.swiper-nav-button:focus-visible{
  background-color: var(--clr-white);
  border-color: transparent;
  color: var(--clr-lavender-indigo);
}

.swiper-nav-button [data-icon]{
  width: 3.2rem;
  height: 3.2rem;
  min-width: 22px;
  height: 22px;
  transition: var(--transition-smooth);
}
/* FEEDBACK ENDS */
/* FOOTER STARTS */
.footer-logo{
  max-width: 120px;
}

.footer-text{
  color: rgba(var(--clr-rgb-white),50%);
}

.copyright-content-info{
  border-top: solid 1px rgba(var(--clr-rgb-white),20%);
}

.terms-and-conditions{
  --horizontal-spacing:12px;
}

.terms-link{
  color: var(--clr-white);
}

.terms-link:hover{
  color: rgba(var(--clr-rgb-white),50%);
}

.terms-link:not(:last-child){
  padding-right: var(--horizontal-spacing);
}

.terms-link:not(:first-child){
  padding-left: var(--horizontal-spacing);
}

.terms-link::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: rgba(var(--clr-rgb-white),20%);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.terms-link:last-child:after{
  display: none;
}

.footer-social-icon-wrapper{
  --circle-sizing:7rem;
  width: var(--circle-sizing);
  height: var(--circle-sizing);
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background: rgba(var(--clr-rgb-white),10%);
  transition: var(--transition-smooth);
}

.footer-social-icon-wrapper:hover{
  background: rgba(var(--clr-rgb-white),40%);
}

.footer-social-icon{
  --icon-sizing:24px;
  width: var(--icon-sizing);
  height: var(--icon-sizing);
  min-width: 20px;
  min-height: 20px;
  color: var(--clr-white);
}


.footer-link-wrapper a{
  color: rgba(var(--clr-rgb-white),50%);
}

.footer-link-wrapper a:hover{
  color: var(--clr-white);
}

.footer-link-wrapper span[data-icon] svg{
  --icon-sizing:24px;
  width: var(--icon-sizing);
  height: var(--icon-sizing);
}

.email-submit-btn{
  width: var(--input-height);
  height: var(--input-height);
  min-width: auto;
  border-radius: 0;
}
/* FOOTER ENDS */
/* FAQ STARTS */
.faq-section {
  --image-size: 44rem;
}
.faq-section-inner {
  gap: 8.7rem;
}
.faq-imageWrapper {
  max-width: var(--image-size);
  --bs-aspect-ratio: 125%;
}
.faq-imageWrapper::after {
  content: "";
  height: 12rem;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  bottom: 0;
}
.accordion-wrapper {
  width: calc(100% - var(--image-size));
  gap: 24px;
}
.accordion-wrapper .accordion-item {
  border-radius: var(--radius-md);
  border: 1.5px solid #ebebeb;
}
.accordion-wrapper .accordion-item.show {
  background-color: var(--clr-titan-white);
  border-color: transparent;
}
.accordion-wrapper .accordion-button:focus {
  box-shadow: unset;
}
.accordion-wrapper .accordion-button:not(.collapse) {
  box-shadow: unset;
}
.accordion-wrapper .accordion-button {
  background-color: transparent;
  padding: 2.8rem;
}
.accordion-wrapper .accordion-item.show .accordion-button {
  color: var(--clr-dull-lavender);
}
.accordion-wrapper .accordion-button::after {
  display: none;
}
.plus-icon .line {
  display: flex;
  width: 16px;
  height: 2px;
  background-color: var(--clr-black-shade);
  transition: var(--transition-smooth);
}
.plus-icon .line:first-child {
  transform: rotate(90deg) translateX(2px);
}
.accordion-item.show .plus-icon .line:first-child {
  transform: rotate(-45deg) translateX(0);
  opacity: 0;
}
.accordion-item.show .plus-icon .line {
  background-color: var(--clr-dull-lavender);
}

.accordion-wrapper .accordion-body{
  padding: 0 2.8rem 2.8rem 2.8rem;
}

/* FAQ ENDS */

/* ABOUT CSS START  */
.about-us-section {
  --image-size: 440px;
}
.about-imageWrapper {
  max-width: var(--image-size);
  --bs-aspect-ratio: 125%;
}
.about-wrapper {
  gap: 80px;
}
.about-imageWrapper::after {
  content: "";
  height: 12rem;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  bottom: 0;
}
.about-card-wrapper {
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
/* ABOUT CSS END*/

/* CONTACT CSS START   */
.contact-wrapper {
  padding: 24px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 4px 16px 0px #0000000a;
  gap: var(--space-lg);
}
.contact-info-card {
  padding: 32px;
}
/* CONTACT CSS END    */
.contact-info-card {
  overflow: hidden;
  z-index: 1;
  width: 30%;
}
.contact-info-card-wrapper {
  gap: 24px;
}
.contact-info-card::after {
  content: "";
  position: absolute;
  bottom: -50%;
  right: -10%;
  width: 300px;
  aspect-ratio: 1/1;
  background: linear-gradient(
    224.86deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 50%;
}
.contact-info-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/covers/contact-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 0.5;
}
.contact-form {
  width: 70%;
}
.contact-form-wrapper button.custom-btn {
  min-width: 366px;
}
.contact-form-wrapper {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  gap: 24px;
  /* margin: auto; */
}
