/* WHY CHOOSE US STARTS */
.why-choose-us-card-grid-wrapper{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.why-choose-us-detail-card{
    background-color: var(--clr-titan-white);
    padding: var(--space-md);
}
/* WHY CHOOSE US ENDS */
/* FEEDBACK STARTS */
.feedback-card{
    padding: 4.5rem;
    box-shadow: 0px 4px 16px 0px rgba(var(--clr-rgb-black),4%);
    min-height: 446px;
}
.feddback-img{
    width: 8rem;
    min-width: 50px;
}

.star-icon{
    width: 28px;
}

.quote-icon svg{
    --icon-sizing:22px;
    width: var(--icon-sizing);
    height: var(--icon-sizing);
}
.swiper-nav-button{
    --circle-sizing:6rem;
    width: var(--circle-sizing);
    height: var(--circle-sizing);
    border: solid 1px var(--clr-white);
    background-color: transparent;
    color: var(--clr-white);
    transition: var(--transition-smooth);
    outline: none;
    min-width: 30px;
    min-height: 30px;
}

.swiper-nav-button.swiper-button-disabled,.swiper-nav-button.swiper-button-disabled:hover{
    background-color: rgba(var(--clr-rgb-white),40%);
    cursor: not-allowed;
    color: var(--clr-white);
    border-color: var(--clr-white);
}

.swiper-nav-button:hover,.swiper-nav-button:focus,.swiper-nav-button:focus-visible{
    background-color: var(--clr-white);
    border-color: transparent;
    color: var(--clr-lavender-indigo);
}

.swiper-nav-button [data-icon]{
    width: 3.2rem;
    height: 3.2rem;
    min-width: 22px;
    height: 22px;
    transition: var(--transition-smooth);
}
/* FEEDBACK ENDS */
/* FOOTER STARTS */
.footer-logo{
    max-width: 120px;
}

.footer-text{
    color: rgba(var(--clr-rgb-white),50%);
}

.copyright-content-info{
    border-top: solid 1px rgba(var(--clr-rgb-white),20%);
}

.terms-and-conditions{
    --horizontal-spacing:12px;
}

.terms-link{
    color: var(--clr-white);
}

.terms-link:hover{
    color: rgba(var(--clr-rgb-white),50%);
}

.terms-link:not(:last-child){
    padding-right: var(--horizontal-spacing);
}

.terms-link:not(:first-child){
    padding-left: var(--horizontal-spacing);
}

.terms-link::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: rgba(var(--clr-rgb-white),20%);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.terms-link:last-child:after{
    display: none;
}

.footer-social-icon-wrapper{
    --circle-sizing:7rem;
    width: var(--circle-sizing);
    height: var(--circle-sizing);
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: rgba(var(--clr-rgb-white),10%);
    transition: var(--transition-smooth);
}

.footer-social-icon-wrapper:hover{
    background: rgba(var(--clr-rgb-white),40%);
}

.footer-social-icon{
    --icon-sizing:24px;
    width: var(--icon-sizing);
    height: var(--icon-sizing);
    min-width: 20px;
    min-height: 20px;
    color: var(--clr-white);
}


.footer-link-wrapper a{
    color: rgba(var(--clr-rgb-white),50%);
}

.footer-link-wrapper a:hover{
    color: var(--clr-white);
}

.footer-link-wrapper span[data-icon] svg{
    --icon-sizing:24px;
    width: var(--icon-sizing);
    height: var(--icon-sizing);
}

.email-submit-btn{
    --btn-sizing:5.6rem;
    width: var(--btn-sizing);
    height: var(--btn-sizing);
    min-width: auto;
    border-radius: 0;
}
/* FOOTER ENDS */