/* CONTAINERS START */
@media (min-width: 576px) {
    :root {
      --container-size: 540px;
    }
  }
  
  @media (min-width: 768px) {
    :root {
      --container-size: 720px;
    }
  
    .contact-form-card {
      padding-right: 8rem;
    }
  }
  
  @media (min-width: 992px) {
    :root {
      --container-size: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    :root {
      --container-size: 1120px;
    }
  }
  
  @media (min-width: 1280px) {
    :root {
      --container-size: 1180px;
    }
  }
  
  @media (min-width: 1350px) {
    :root {
      --container-size: 1240px;
    }
  }
  
  @media (min-width: 1400px) {
    :root {
      --container-size: 1340px;
    }
  }
  
  @media (min-width: 1600px) {
    :root {
      --container-size: 1470px;
    }
  }
  
  @media (min-width: 1680px) {
    :root {
      --container-size: 1440px;
    }
  }
  
  /* CONTAINERS END */

  /* RESPONSIVE STARTS */
  @media(max-width:1799px){
    :root {
      --font-size: 9px;
    }
  }

  @media(max-width:1599px){

  }

  @media(max-width:1439px){
    .paragraph-sm-text {
      font-size: 14px;
    }
  }

  @media (max-width: 1365px) {
    :root {
      font-size: 7px;
      --header-height: 90px;
    }
  }

  @media(max-width:1279px){

  }

  @media(max-width:1199px){

  }

  @media(max-width:1023px){

  }

  @media(max-width:991px){

  }

  @media(max-width:767px){
    
  }

  @media(max-width:575px){}

  @media(max-width:480px){}
  /* RESPONSIVE ENDS */