.faq-section {
  --image-size: 440px;
}
.faq-section-inner {
  gap: 8.7rem;
}
.faq-imageWrapper {
  max-width: var(--image-size);
  --bs-aspect-ratio: 125%;
}
.faq-imageWrapper::after {
  content: "";
  height: 12rem;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  bottom: 0;
}
.accordion-wrapper {
  width: calc(100% - var(--image-size));
  gap: 24px;
}
.accordion-wrapper .accordion-item {
  padding: 28px;
  border-radius: var(--radius-md);
  border: 1.5px solid #ebebeb;
}
.accordion-wrapper .accordion-item.show {
  background-color: var(--clr-titan-white);
  border-color: transparent;
}
.accordion-wrapper .accordion-button:focus {
  box-shadow: unset;
}
.accordion-wrapper .accordion-button:not(.collapse) {
  box-shadow: unset;
}
.accordion-wrapper .accordion-button {
  background-color: transparent;
}
.accordion-wrapper .accordion-item.show .accordion-button {
  color: var(--clr-dull-lavender);
}
.accordion-wrapper .accordion-button::after {
  display: none;
}
.plus-icon .line {
  display: flex;
  width: 16px;
  height: 2px;
  background-color: var(--clr-black-shade);
  transition: var(--transition-smooth);
}
.plus-icon .line:first-child {
  transform: rotate(90deg) translateX(2px);
}
.accordion-item.show .plus-icon .line:first-child {
  transform: rotate(-45deg) translateX(0);
  opacity: 0;
}
.accordion-item.show .plus-icon .line {
  background-color: var(--clr-dull-lavender);
}


