:root {
    /* FONT FAMILY */
    --font-primary: "Satoshi", Arial, sans-serif;
    --font-secondary: "Oswald", Arial, sans-serif;

    /* FONT SIZE */
    --font-size: 10px;

    /* COLOR */
    --clr-white: #ffff;
    --clr-rgb-white: 225, 225, 225;
    --clr-black: #000000;
    --clr-rgb-black: 0, 0, 0;
    --clr-black-shade: #1A1A1A;
    --clr--rgb-black-shade: 26, 26, 26;
    --clr-titan-white: #F1ECFF;
    --clr-dull-lavender: #A690E4;
    --clr-lavender-indigo: #8359F0;
    --clr-light-purple: #B3A0E9;
    --clr-lighter-purple: #BBA4F3;

    /* GRADIENT COLOR */
    --clr-primary-gradient: linear-gradient(162.04deg, #8459EF 12.24%, #AD90F3 89.4%);

    /* SPACE */
    --space-xl: 6.4rem;
    --space-lg: 5.6rem;
    --space-md: 3.2rem;
    --space-sm: 3rem;
    /* RADIUS */
    --radius-lg: 3.2rem;
    --radius-md: 2.4rem;
    --radius-sm: 1.6rem;
    --radius-xs: 1.4rem;

    /* TRANSITION */
    --transition-smooth: all 0.3s;

    /* CONTAINER */
    --container-size: 1440px;

    /* HEADER HEIGHT */
    --header-height: 96px;
}